/* utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid black;
}

:root{
    --black: #000000;
    --white: #ffffff;
    --lightgrey: #757474;
    --darkblue: #141922;
    --lightblack: #282828;
    --grey: #717171;
    --yellow: #adff2f;
}

html{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
}


main{
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}

.main-content{
    background-color: var(--darkblue);
    overflow-y: auto;
    width: calc(100% - 230px);
    height: 100%;
}

.inner-content{
    height: calc(100% - 95px);
    margin-top: 95px;
    width: 100%
}

footer{
    background-color: var(--lightblack);
    width: 100%;
    height: 95px;
    position: fixed;
    bottom: 0;
    z-index: 2000;
}

nav{
    font-size: 0.8rem;
    width: 230px;
    height: 100%;
    background-color: var(--black);
}

aside{
    width: calc(100% - 230px);
    height: 95px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    z-index: 1000;
}

#inline-576{
    display: none;
}

/* classi  ******************************/

a{
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.flex{
    display: flex;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.wrap{
    flex-wrap: wrap;
}

.nowrap{
    flex-wrap: nowrap;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.align-center{
    align-items: center;
}

.just-center{
    justify-content: center;
}

.margin-top05{
    margin-top: 0.5rem;
}

.margin-top{
    margin-top: 1rem;
}

.margin-bot05{
    margin-bottom: 0.5rem;
}

.margin-bot{
    margin-bottom: 1rem;
}

.margin-left05{
    margin-left: 0.5rem;
}

.margin-left{
    margin-left: 1rem;
}

.margin-right05{
    margin-right: 0.5rem;
}

.margin-right{
    margin-right: 1rem;
}

.textalign-center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.color-white{
    color: var(--white);
}
.color-lightgrey{
    color: var(--lightgrey);
}

.nostylelist{
    list-style: none;
}

.uppercase{
    text-transform: uppercase;
}

.width10pc{
    width: 10%;
}

/* aside  ***********************/

#upgrade{
    min-width: 220px;
    margin-right: 2rem;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 2rem;
    padding: 1rem;
}

/* inner content  ***************/

.img-container{
    position: relative;
}

.inner-content ul{
    width: 90%;
    margin: auto;
}

.album img{
    width: 100%;
    z-index: 600;
}

.album .img-container{
    width: calc((100% - 7rem) / 6);
    margin-left: 1rem;
}

.album h1, p{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.album h5, p{
    font-size: 0.8rem;
}

.popolari img{
    border-radius: 50%;
}

/* nav bar  **********************/

.logo-nav{
    width: 100%;
    height: 95px;
}

#logo{
    width: 85%;
}

.fa-square-plus{
    font-size: 2rem;
}

hr{
    margin: 0.5rem 1rem;
    border: none;
    height: 1px;
    background-color: var(--lightgrey);
}

.john-icon{
    border-radius: 50%;
    background-color: var(--lightgrey);
}

#download-logo{
    width: 7%;
}


/* playbar  **********************/

.playbar{
    width: 100%;
    height: 100%;
}

.pbsx{
    width: 30%;
}

.pbsx img{
    min-width: 44px;
}

.pbsx p{
    margin: 0 1rem;
}

.pbsx> :nth-child(2){
    width: 50px;
}

.pbcenter{
    width: 40%;
}

.fa-circle-play{
    font-size: 2rem;
}

.pbcenter span{
    width: 80%;
    height: 3px;
    background-color: var(--lightgrey);
    margin-left: 1rem;
}

.pbdx{
    width: 30%;
}

.pbdx span{
    width: 20%;
    height: 3px;
    background-color: var(--lightgrey);
    margin-right: 1rem;
    margin-left: 1rem;
}

/* effetti **************/

#upgrade:hover{
    transform: scale(1.2);
    transition: 1s;
}
.inner-content a:hover{
    color: var(--white);
    border-bottom: 2px solid var(--yellow);
}

#d-non576 a:hover{
    color: var(--white);
}

.fa-heart:hover{
    color: var(--yellow);
    font-size: 20px;
}

.fa-folder:hover{
    color: var(--yellow);
    font-size: 20px;
}

.pbcenter i:not(.fa-circle-play):hover{
    font-size: 20px;
}

.fa-circle-play:hover{
    font-size: 40px;
}

.pbdx i:hover{
    font-size: 20px;
}

.album img:hover{
    filter: grayscale(0.5);
}

.play-onimg{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}


/* responsive ******************/

/* 992px  ********/

@media screen and (max-width: 992px){
    .wrapper{
        max-width: 992px;
    }
    .album .img-container{
        width: calc((100% - 7rem) / 4);
        margin-left: 1rem;
    }
}

/* 768px **************/

@media screen and (max-width: 768px) {
    .wrapper{
        max-width: 768px;
    }     
    .album .img-container{
        width: calc((100% - 7rem) / 2);
        margin-left: 1rem;
    } 
    h5{
        margin-bottom: 00.5rem;
    }  
}

/* 576 ************************/

@media screen and (max-width:576px) {
    .wrapper{
        max-width: 576px;
    }

    aside{
        width: calc(100% - 50px);
    }
    .main-content{
        width: calc(100% - 50px);
    }

    #d-non576{
        display: none;
    }
    #inline-576{
        display: inline;
        width: 50px;
        height: 100%;
        background-color: var(--black);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }
    #inline-576 img{
        width: 50%;
    }
}


